<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flagstravaganza</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_desktop.css') }}"
          media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_mobile.css') }}"
          media="screen and (max-width: 767px)">
</head>
<body>
<div class="navbar">
    <span>Flagstravaganza</span>
    {% if logged_in %}
        <form action="/logout" method="POST">
            <button id="logout-button">Logout</button>
        </form>
    {% else %}
        <form action="/login" method="POST">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button id="login-button">Login</button>
        </form>
        <form action="/register_page" method="POST">
            <button id="register-button">Register</button>
        </form>
    {% endif %}
</div>

<div class="content">
    <div class="left-column">
        <div class="high-scores">
            <h2>Current Score</h2>
            <p id="current-score">{{ session['score'] }}</p>
            {% if logged_in %}
                <h2>Your High Score</h2>
                {% if user_highscore %}
                    <p>{{ user_highscore.score }}</p>
                {% else %}
                    <p>No high score yet</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="middle-column">
        <div class="flag-guess">
            <h1>Guess the Flag</h1>
            <img id="flag-image" src="{{ url_for('static', filename=flag['img_path']) }}" alt="Flag"
                 style="width: 256px; height: auto;">
            <form action="/check_guess" method="POST" id="guess-form">
                <label for="guess">Enter the country:</label>
                {% if game_over %}
                    <input type="text" id="guess" name="guess" required autocomplete="off">
                {% else %}
                    <input type="text" id="guess" name="guess" required autocomplete="off" autofocus>
                {% endif %}
                <button type="submit">Guess</button>
            </form>
            <div id="guess-dropdown"></div>
        </div>
    </div>

    <div class="right-column">
        <div class="high-scores">
            <h2>Global Rankings</h2>
            <ol>
                {% for score in highest_scores %}
                    <li>{{ score.user }}: {{ score.score }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    {% if game_over %}
        <div id="gameover-modal" class="modal" style="display: block;">
            <div class="modal-content">
                <h2>Game Over</h2>
                <p>Final Score: {{ end_score }}</p>
                <p>Sorry, that's incorrect. The correct answer was {{ correct_answer }}.</p>
                <form action="/lost" method="GET">
                    <button id="retry-button" autofocus>Retry</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var possibleAnswers = [
            {% for answer in countries %}
                "{{ answer }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        var isFromDropdown = false;
        var validInput = false;
        var dropdownIndex = -1; // Initialize index for dropdown cycling

        function updateDropdown() {
            var userInput = $('#guess').val().trim().toLowerCase();
            var dropdown = $('#guess-dropdown');
            dropdown.empty();
            isFromDropdown = false;
            validInput = false;
            dropdownIndex = -1; // Reset index when updating dropdown

            if (userInput.length > 0) {
                var filteredAnswers = possibleAnswers.filter(function (answer) {
                    return answer.toLowerCase().includes(userInput);
                });

                filteredAnswers.sort(function (a, b) {
                    return a.indexOf(userInput) - b.indexOf(userInput);
                });

                filteredAnswers.forEach(function (answer) {
                    dropdown.append('<button type="button">' + answer + '</button>');
                });

                dropdown.css({
                    top: $('#guess').offset().top + $('#guess').outerHeight(),
                    left: $('#guess').offset().left,
                    width: $('#guess').outerWidth()
                }).show();
            } else {
                dropdown.hide();
            }
        }

        $('#guess').on('input', function () {
            updateDropdown();
        });

        $('#guess').on('keydown', function (e) {
            var dropdownButtons = $('#guess-dropdown button');
            if (e.shiftKey && e.keyCode === 9) { // Shift + Tab key
                e.preventDefault();
                if (dropdownButtons.length > 0) {
                    dropdownIndex = (dropdownIndex - 1 + dropdownButtons.length) % dropdownButtons.length; // Cycle backward through options
                    var selectedOption = dropdownButtons.eq(dropdownIndex).text();
                    $('#guess').val(selectedOption);
                    isFromDropdown = true;
                    validInput = true;
                }
            } else if (e.keyCode === 9) { // Tab key
                e.preventDefault();
                if (dropdownButtons.length > 0) {
                    dropdownIndex = (dropdownIndex + 1) % dropdownButtons.length; // Cycle forward through options
                    var selectedOption = dropdownButtons.eq(dropdownIndex).text();
                    $('#guess').val(selectedOption);
                    isFromDropdown = true;
                    validInput = true;
                }
            }
        });

        $(document).on('click', function (event) {
            if (!$(event.target).closest('#guess-dropdown').length && !$(event.target).is('#guess')) {
                $('#guess-dropdown').hide();
            }
        });

        $('#guess-dropdown').on('click', 'button', function () {
            $('#guess').val($(this).text());
            isFromDropdown = true;
            validInput = true;
            $('#guess-dropdown').hide();
        });

        $('#guess-form').on('submit', function (event) {
            var inputValue = $('#guess').val();
            if (!isFromDropdown && !possibleAnswers.some(answer => answer.toLowerCase() === inputValue)) {
                event.preventDefault();
                validInput = false;
            } else {
                validInput = true;
            }
        });

        $('#guess').on('keydown', function (e) {
            var dropdownButtons = $('#guess-dropdown button');
            if (e.keyCode === 13) { // Enter key
                if (dropdownButtons.length > 0 && !isFromDropdown) {
                    e.preventDefault();
                    var firstOption = dropdownButtons.first().text();
                    $('#guess').val(firstOption);
                    validInput = true;
                    isFromDropdown = true;
                    $('#guess-form').submit();
                } else if (!isFromDropdown) {
                    e.preventDefault();
                    validInput = false;
                }
            }
        });
    });
</script>
</body>
</html>
