<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flagstravaganza</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_desktop.css') }}"
          media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_mobile.css') }}"
          media="screen and (max-width: 767px)">
</head>
<body>
<div class="navbar">
    <span>Flagstravaganza</span>
    {% if logged_in %}
        <form action="/logout" method="POST">
            <button id="logout-button">Logout</button>
        </form>
    {% else %}
        <form action="/login" method="POST">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button id="login-button">Login</button>
        </form>
        <form action="/register_page" method="POST">
            <button id="register-button">Register</button>
        </form>
    {% endif %}
</div>

<div class="content">
    <div class="left-column">
        <div class="high-scores">
            <h2>Current Score</h2>
            <p id="current-score">0</p>
            {% if logged_in %}
                <h2>Your High Score</h2>
                {% if user_highscore %}
                    <p>{{ user_highscore.score }}</p>
                {% else %}
                    <p>No high score yet</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="middle-column">
        <div class="flag-guess">
            <h1>Guess the Flag</h1>
            <img id="flag-image" src="{{ url_for('static', filename=flag['img_path']) }}" alt="Flag"
                 style="width: 256px; height: auto;">
            <form id="guess-form">
                <label for="guess">Enter the country:</label>
                <input type="text" id="guess" name="guess" required autocomplete="off">
                <button type="submit">Guess</button>
            </form>
            <div id="guess-dropdown"></div>
        </div>
    </div>

    <div class="right-column">
        <div class="high-scores">
            <h2>Global Rankings</h2>
            <ol>
                {% for score in highest_scores %}
                    <li>{{ score.user }}: {{ score.score }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div id="gameover-modal" class="modal">
        <div class="modal-content">
            <h2>Game Over</h2>
            <p>Final Score: user_highscore</p>
            <button id="retry-button">Retry</button>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        socket.on('update_score', function (data) {
            $('#current-score').text(data.current_score);
        });

        var possibleAnswers = [
            {% for answer in countries %}
                "{{ answer }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        function updateDropdown() {
            var userInput = $('#guess').val().trim().toLowerCase();
            var dropdown = $('#guess-dropdown');
            dropdown.empty();

            if (userInput.length > 0) {

                var filteredAnswers = possibleAnswers.filter(function (answer) {
                    return answer.toLowerCase().includes(userInput);
                });

                filteredAnswers.forEach(function (answer) {
                    dropdown.append('<button type="button">' + answer + '</button>');
                });

                dropdown.css({
                    top: $('#guess').offset().top + $('#guess').outerHeight(),
                    left: $('#guess').offset().left,
                    width: $('#guess').outerWidth()
                }).show();
            } else {
                dropdown.hide();
            }
        }

        $('#guess').on('input', function () {
            updateDropdown();
        });

        $(document).on('click', function (event) {
            if (!$(event.target).closest('#guess-dropdown').length && !$(event.target).is('#guess')) {
                $('#guess-dropdown').hide();
            }
        });

        $('#guess-dropdown').on('click', 'button', function () {
            $('#guess').val($(this).text());
            $('#guess-dropdown').hide();
        });

        $('#guess-form').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.post('/check_guess', formData, function (response) {
                $('#result').text(response.result);
                if (response.game_over) {
                    $('#gameover-modal p').text("Sorry, that's incorrect. The correct answer was " + response.correct_answer + ".");
                    $('#gameover-modal').show();
                }
                if (response.new_flag) {
                    $('#flag-image').attr('src', "static" + response.new_flag.img_path);
                }
                $('#guess').val('');
            });
        });

        var modal = $('#gameover-modal');

        var retryButton = $('#retry-button');
        retryButton.on('click', function () {
            modal.hide();
        });
    });

</script>

</body>
</html>
