body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #404040;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#flag-image {
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 5px;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

p#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#guess-dropdown {
    display: none;
    position: absolute;
    background-color: #202020;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}
#guess-dropdown button {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
#guess-dropdown button:hover {
    background-color: #ddd;
}
